
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";
@import "./codemirror.css";


/* latin-ext */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(http://fonts.gstatic.com/s/ubuntumono/v6/ViZhet7Ak-LRXZMXzuAfkaE8kM4xWR1_1bYURRojRGc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(http://fonts.gstatic.com/s/ubuntumono/v6/ViZhet7Ak-LRXZMXzuAfkYgp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-duration: .25s;
    transition-timing-function: ease;
    transition-property: opacity, transform, background-color;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col, $width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}
@mixin grid 4 {}
@mixin grid 6 {}

@mixin grid_r 2, 400 {}
@mixin grid_r 2, 800 {}

@mixin grid_r 4, 400 {}
@mixin grid_r 4, 800 {}

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */

$gray: rgb(28, 38, 43);
$green: rgb(109, 194, 173);
$red: rgba(96, 16, 16, 1);
$lightred: rgba(192, 96, 96, 1);

body {
    background-color: $gray;
}

.grid {
    height: 100vh;
    > * {
        border: none;
        font-family: 'Ubuntu Mono', sans-serif;
        font-size: .75em;
        vertical-align: center;
        overflow-y: auto;
        &:first-child {
            background-color: #efefef;
        }
        &:nth-child(2){
            > * {
                padding: 0 1.5rem;
                border: 0;
                outline: 0;
                resize: none;
            }

            > *:nth-child(1) {
                background-color: $gray;
                color:$green;
            }

            > *:nth-child(2) {
                background-color: $red;
                color: $lightred;
                flex: 1;
                max-height: 0px;
                opacity: 0;
                &.active {
                    max-height: 50%;
                    opacity: 1;
                }
            }

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            flex-wrap: wrap;

            > * {
                flex: 1;
                flex-basis: 50%;
            }
        }
        &:focus {
            highlight: none;
            outline: 1px solid lightblue;
        }
    }

}

.CodeMirror {
    height: 100vh;
    .CodeMirror-code {
        > div {
            > pre {
                padding-left: 2rem;
            }
        }
    }
    span {
        vertical-align: middle;
    }
}

.cm-s-material {
    background-color: #263238;
    color: rgba(233, 237, 237, 1);
    .CodeMirror-gutters {
      background: #263238;
      color: rgb(83,127,126);
      border: none;
    }
    .CodeMirror-guttermarker, .CodeMirror-guttermarker-subtle, .CodeMirror-linenumber {
      color: rgb(83,127,126);
    }
    .CodeMirror-cursor {
      border-left: 1px solid #f8f8f0 !important;
    }
    .CodeMirror-selected {
      background: rgba(255, 255, 255, 0.15);
    }
    CodeMirror-focused .CodeMirror-selected {
      background: rgba(255, 255, 255, 0.10);
    }
    .CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection {
      background: rgba(255, 255, 255, 0.10);
    }
    .CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection {
      background: rgba(255, 255, 255, 0.10);
    }

    .CodeMirror-activeline-background {
      background: rgba(0, 0, 0, 0) !important;
    }
    span.cm-keyword {
      color: rgba(199, 146, 234, 1);
    }
    span.cm-operator {
      color: rgba(233, 237, 237, 1);
    }
    span.cm-variable-2 {
      color: #80CBC4;
    }
    span.cm-variable-3 {
      color: #82B1FF;
    }
    span.cm-builtin {
      color: #DECB6B;
    }
    span.cm-atom {
      color: #F77669;
    }
    span.cm-number {
      color: #F77669;
    }
    span.cm-def {
      color: rgba(233, 237, 237, 1);
    }
    span.cm-error {
      color: rgba(255, 255, 255, 1.0);
      background-color: #EC5F67;
    }
    span.cm-string {
      color: #C3E88D;
    }
    span.cm-string-2 {
      color: #80CBC4;
    }
    span.cm-comment {
      color: #546E7A;
    }
    span.cm-variable {
      color: #82B1FF;
    }
    span.cm-tag {
      color: #80CBC4;
    }
    span.cm-meta{
      color: #80CBC4;
    }
    span.cm-attribute {
      color: #FFCB6B;
    }
    span.cm-property {
      color: #80CBAE;
    }
    span.cm-qualifier {
      color: #DECB6B;
    }
    span.cm-variable-3{
      color: #DECB6B;
    }
    span.cm-tag {
      color: rgba(255, 83, 112, 1);
    }
    .CodeMirror-matchingbracket {
      text-decoration: underline;
      color: white !important;
    }
}